*{
    box-sizing: border-box;
}


body{
    background-color: white;
    margin: 0;
    padding: 0;
}

.container{
    background-image: radial-gradient( #b3a4f8 50%, #8a77df 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
   
}

.search{
    position: relative;
    height: 50px;
}

.search .input{
    background-color: #fff;
    border: 0;
    font-size: 18px;
    color: rgb(0, 105, 105);
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn{
    background-color: #fff;
    border: 0;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    padding: 15px;
    font-size: 20;
    color: rgb(0, 105, 105);
    height: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    
}

.btn:focus, .input:focus{
    outline: none;
}


.search.active .input{
    width: 200px;
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
   
}

.search.active .btn{
    transform: translate(200px);
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
    
}


